extends layout

block content
    #stats-output
    #canvas
    script(type="text/javascript",src="javascripts/3d/three.js")
    script(type="text/javascript",src="javascripts/3d/stats.js")
    script(type="text/javascript",src="javascripts/3d/dat.gui.js")
    script(type="text/javascript",src="javascripts/3d/data_filter.js")
    script(type="text/javascript",src="javascripts/3d/ex1.js")
    