extends layout

block  content
    #content-container
        .content-section
            .label-container
                span.label-elem.label-elem-active#post-data
                    a(href="/data_post") 提交数据
                span.label-elem#show-data
                    a(href="/data_show") 数据操作
            .blank-div-for-border
            .fold-section#ajax-fold
                form(action="/data_post" method="POST",enctype="multipart/form-data")
                    .form-elem
                        #upload-container
                            input#upload-text(type="text")
                            label#upload-label 
                                p  上传
                                span
                                    input#upload-file(type="file" name="upload-file")
                    .form-elem
                        .switch-container
                            label.block-switch
                                input.checkbox-switch(type="checkbox", name="upload_opt", value="2D")
                                span.label-switch(data-on="On" data-off="Off")
                                span.handle-switch
                            span 开启2D图形
                        .switch-container
                            label.block-switch
                                input.checkbox-switch(type="checkbox", name="upload_opt", value="3D")
                                span.label-switch(data-on="On" data-off="Off")
                                span.handle-switch
                            span 开启3D图形
                        .switch-container
                            label.block-switch
                                input.checkbox-switch(type="checkbox", name="upload_opt", value="ALG")
                                span.label-switch(data-on="On" data-off="Off")
                                span.handle-switch
                            span 开启自动算法处理
                        .switch-container
                            label.block-switch
                                input.checkbox-switch(type="checkbox", name="upload_opt", value="MODE")
                                span.label-switch(data-on="On" data-off="Off")
                                span.handle-switch
                            span 开启模式
                    .form-elem
                        .submit
                            input(type="submit" value="提交")
                    .form-elem
                        #error-container= err_info
    script(type="text/javascript",src="javascripts/data_post.js")