extends layout

block  content
    #content-container
        .content-section
            .fold-section#ajax-fold
                #data-show-dir-name
                    span
                        a(href="#") <
                        span 数据文件夹
                        a(href="#") >
                #data-show-file-name
                    div#data-show-file-1
                    div#data-show-file-2
                    div#data-show-file-3
                    div#data-show-file-4
                #data-show-opt
                    span
                        span [
                        a#data-show-opt-show 显示数据
                        span ]
                    span
                        span [
                        a#data-show-opt-stat 显示信息
                        span ]
                    span
                        span [
                        a#data-show-opt-del 删除
                        span ]
                    span
                        span [
                        a#data-show-opt-2d 2D显示
                        span ]
                    span
                        span [
                        a#data-show-opt-3d 3D显示
                        span ]
        #error-container
        .content-section#data-stat
            #data-ajax-header
            #data-ajax-content
            #data-ajax-footer
    link(rel='stylesheet', href='/stylesheets/data_opt.css')
    script(type="text/javascript",src="javascripts/data_opt.js")
    script(type="text/javascript",src="javascripts/3d/data_3d.js")