extends layout

block content
    #content-container
        #left-content
            #div
            #left-content-fixed
                #brand-content
                    h1 V.0.1
                .content-section
                    .vnav-item
                        a(href="#") 顶部
                    .vnav-item
                        a(href="#install") 安装
                    .vnav-item
                        a(href="#guide") 使用指南
                    .vnav-item 
                        a(href="#photo") 图片
        #right-content
            #header-content
                h1 数据可视化
            #real-content
                .content-section
                    h2#install 安装
                    ul
                        li 测试安装程序
                        li 请安装规定的测试程序进行测试，本次测试仅测试字数请安装规定的测试程序进行测试，本次测试仅测试字数请安装规定的测试程序进行测试，本次测试仅测试字数
                        li 测试安装程序
                        li 测试安装程序
                        li 测试安装程序
                .content-section
                    h2#guide  使用指南
                    ul
                        li 测试安装程序
                        li 请安装规定的测试程序进行测试，本次测试仅测试字数
                        li 测试安装程序
                        li 测试安装程序
                        li 测试安装程序
                .content-section
                    h2#photo 图片
                    .photo-container
                        img(src="images/bk.jpg")      
    script(type="text/javascript",src="javascripts/index.js")