font-size = 14px
color_a = #00B7FF
color_gye = #eee
color_gyd = #ddd
color_gyc = #ccc
color_gyc = #bbb
color_gya = #aaa
color_g1 = #83b81a

h-set(a_font-size=14px,a_color=black,a_font-weight=100,a_line-height=1.5,a_margin=font-size)
    font-size:a_font-size
    color:a_color
    font-weight:a_font-weight
    line-height:a_line-height
    margin:a_margin

//============================
// => General Setting
//============================
*
    margin: 0
    padding: 0
h1
    h-set(2.5*font-size,black,bold,1.7,font-size 0)
h2
    h-set(1.5*font-size,black,bold,1.5,font-size 0)
body
    font: font-size "Lucida Grande", Microsoft YaHei, Helvetica, Arial, sans-serif
    line-height:1.5
a
    color: color_a 
    text-decoration:none
ul
    list-style-type: none

#error-container
    padding:0.5*font-size 
    color:white
    opacity:0.8
//============================
// => Navbar & Navbar-custom
//============================
.navbar
    width:100%
    padding: font-size*0.8 0
    background-color: black 
    color: color_a 
    font-size:1.2*font-size
    box-shadow:0 3px 5px  #999
.nav-container
    width: 960px - 2*font-size 
    margin:0 auto
    padding: 0 font-size //防止在屏幕宽度最小时字体贴边
.navbar-elem
    margin-left 3*font-size
.navbar-elem:first-child
    margin-left: 0
.navbar-ul > li
    display: inline
    margin-left: 3*font-size
    font-weight:blod
.navbar-ul > li:first-child
    margin-left: 0

//============================
// => Content General
//============================
#content-container
    //padding 算在width外面 所以要减去
    width:960px - 2*font-size 
    margin: 0 auto
    //防止在屏幕宽度最小时字体贴边
    padding: 0 font-size 
    overflow:auto
// for index 
#left-content
    //padding 算在width外面 所以要减去
    width: 168px - 2*font-size - 1px
    //height: 1000px
    float: left
    margin-top:font-size
    text-align:right
    padding-right:2*font-size
#left-content-fixed
    //占满内容区
    width:168px - 2*font-size - 1px
    position:fixed
    top:47px + font-size
#brand-content
    border-bottom: 1px solid #eee
#brand-content > h1:first-letter
    color: color_a

#right-content
    //padding 算在width外面 所以要减去
    width: 763px - 2*font-size 
    float: left
    height:1000px
    margin-top:font-size
    padding-left:2*font-size
    border-left: 1px solid #eee
#header-content
    margin: font-size 0
    border-bottom: 1px solid #eee
#real-content
    margin: 2*font-size 0

.content-section
    margin: 2*font-size 0
.content-section > h2
    margin: 0.5*font-size
.content-section > ul
    padding: 0 4*font-size
    list-style-type: disc 
.photo-container
    padding: 0 4*font-size
.photo-container > img
    border:1px solid #eee
.vnav-item > a 
    font-size:1.5*font-size
    color:color_gyc
    text-decoration:underline 
.vnav-item > a:hover
    color:color_a
    text-decoration:none

/////////////////////////////////////////
// => data 
/////////////////////////////////////////

.fold-section
    width:100%
    margin:font-size 0 
.label-container
    font-size:1.5*font-size
.label-elem
    margin-left: 2*font-size
.label-elem > a
    color:color_gyc
    text-decoration:underline
.label-elem:first-child
    margin-left:0
.label-elem-active > a
    color:black
    text-decoration:none
.label-elem > a:hover
    color:#777
.blank-div-for-border
    height:font-size
    border-bottom:1px solid color_gyd

form
    margin:2*font-size 0
.form-elem
    margin:font-size 0